<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Users page</a></li>
    <li class="breadcrumb-item active" aria-current="page">Index</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Users</h6>
        <div class="row d-flex justify-content-between">
          <div class="col-3">
            <a
              class="btn btn-primary btn-sm"
              [routerLink]="['/admin/users/create']"
              >Create User</a
            >
          </div>
          <div class="col-3">
            <input
            type="text"
            style=""
            placeholder="Search..."
            [(ngModel)]="this.pagingInfo.search"
            (ngModelChange)="this.tableFilterUpdate.next($event)"
          />
          </div>
        </div>
      <ngx-datatable
      #table
      class="bootstrap striped"
      [rows]="rows | async"
      [columns]="columns"
      [externalPaging]="true"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      [limit]="10"
      [rowHeight]="50"
      (page)="onPageChange($event)"
      (sort)="onSort($event)"
      (reorder)="onReorder($event)"
    >
    </ngx-datatable>

    <ng-template #roleTemplate let-row="row" let-value="value" let-i="index">
      <ng-template ngFor let-obj [ngForOf]="value">
        <span class="badge bg-primary">{{ obj.name }}</span>
        <br />
      </ng-template>
    </ng-template>
    <ng-template #actionTemplate let-row="row" let-value="value" let-i="index" class="m-0">
        <a
          class="btn btn-primary btn-sm m-0"
          [routerLink]="['/admin/users/edit', row.id]"
          >Edit</a
        >
        <a
          class="btn btn-danger btn-sm m-0"
          (click)="deleteUser(row.id)"
          >Delete</a
        >
      </ng-template>
      </div>
    </div>
  </div>
</div>
